* {
  overflow-x: hidden;
}

.add-task-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background-color: #fccc74;
}

.inp {
  border: 1px solid black;
  height: 30px;
  margin: 10px;
  width: 30vw;
}

.btn {
  height: 30px;
  width: 100px;
  cursor: pointer;
  background-color: #217afa;
  border: none;
  color: white;
  font-weight: bold;
}
.btn:hover {
  background-color: #054cae;
  transition: all 0.3s;
}

.add-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-btn {
  height: 30px;
  width: 100px;
  margin: 20px;
  cursor: pointer;
  background-color: #217afa;
  border: none;
  color: white;
  font-weight: bold;
}
.r-btn:hover {
  background-color: #054cae;
  transition: all 0.3s;
}

.to-do {
  display: flex;
  justify-content: center;
  background-color: #b8d8bf;
  align-items: center;
  width: 100vw;
  padding: 0px 25px;
  border-bottom: 2px solid black;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rm-btn {
  height: 30px;
  width: 100px;
  margin: 20px;
  cursor: pointer;
  background-color: #217afa;
  border: none;
  color: white;
  font-weight: bold;
}

.rm-btn:hover {
  background-color: #054cae;
  transition: all 0.3s;
}
